<% if user_signed_in?%>
<center>
<h1>
Friends lists
</h1>
</center>
<div id="friends_lists">
  <% @friends_lists.each do |friends_list| %>
    <% if friends_list.user == current_user%>
      <%= render friends_list %>
    <% end %>
  <% end %>
</div>

<%= link_to "Add New Friend", new_friends_list_path ,class:"btn btn-success my-2"%>
<% else %>
  <center>
  <h1>
    HomePage
  </h1>
  </center>
<% end %>
<style>
#friends_lists{
  display:flex;
  align-items:center;
  flex-wrap:wrap;
}
.side-button{
  margin-right:50px;
}
</style>