  <ul class="nav justify-content-center bg-primary py-2">
    <li class="nav-item">
    <%= link_to "Friends App",root_path,class:"nav-link text-light"%>
    </li>
    <li class="nav-item">
    <%= link_to "Show Friends",friends_lists_path,class:"nav-link text-light"%>
    </li>
    <li class="nav-item">
    <%= link_to "Add New Friend",new_friends_list_path,class:"nav-link text-light"%>
    </li>
    <li class="nav-item">
    <%= link_to "About Us",home_about_path,class:"nav-link text-light"%>
    </li>
  </ul>

